body{
    margin: 0;
    padding: 0;
    background-color: #71a0af;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
    background-color: #f1f1f1;

}