header{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: #f1f1f1;
    font-size: larger;
    box-shadow: 0 0 10px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#btn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: unset;
    padding: 7% 19%;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 #141414;
    transition: all 0.3s ease;
}

.submenu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1%;
    top: 16.5%;
    background-color: #f1f1f1;
    border-radius: 7px;
    max-height: 0;
    transition: max-height 0.4s ease;
    overflow: hidden;
}
.submenu.aparece{
    max-height: 300px;
}
.submenu ul{
    display: flex;
    align-items: center;
    padding: 10px;
}
.submenu ul li{
    position: relative;
    display: block;
    width: 100%;
}
.open_submenu{
    
    list-style: none;
}
#caja_desplegable{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 0 0 20px 20px ;
    flex-wrap: wrap;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.menu, .menu2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    gap: 4%;
    
    
}
#ajuste{
    height: auto;
    width: 20px;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    height: 40px;
    width: 50px;
    border-radius: 20px;
    border: unset;
    
    box-shadow: 0 0 3px 0 #141414;
    padding: 20px;
    margin: 4px;
    cursor: pointer;
    
}
#barra_lateral{
    display: flex;
    border-radius: 20px;
    padding: 10px;
    
    border: unset;
    box-shadow: 0px 0px 5px 0px #141414;
    background-color: #f1f1f1;
    cursor: pointer;
}
.barra:hover, #barra_lateral:hover{
    background-color: gray;
    transition: 0.4s;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
    justify-content: center;
    
}
#fondo{
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
svg{
    height: 4.5vh;
    width: 10%;
}

.conteiner, .conteiner3{
    background: linear-gradient(to bottom, #a7e7fc, #81f781);
    
    width: 100%;
    margin-bottom: 20px;

}
.conteiner2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 10px 0px black;
    border-radius: 10px;
    width: 90vw;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
}
.img_carru{
    flex: 1 0 auto;
    height: 300px;
    width: auto;
    box-shadow: 0 0 10px 0 #141414;
    margin: 2%;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
h3{ 
    text-align: center;
    font-size: 28px;
    text-shadow: 0px 0px 12px #ffffff;
}
h1, p{
    text-align: center;
    font-weight: 700;
}
hr{
    height: 2px;
    background-color: #000000;
    border: unset;
}
.opciones{
    height: 30px;
    width: 100px;
    border: unset;
    border-radius: 7px;
    margin-left: 10px;
    background-color: #85ff85;
    font-weight: 600;
}
.opciones:hover{
    background-color: #54a354;
    transition: 0.4s;
}
img{ height: auto;
    width: 30px;
}

#tienda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10%;
}
.texto_centrado{
    text-align: center;
    font-size: 240%;
    padding: 20px;
    
}
.descripcion{
    text-align: center;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.especiales{
    height: 7vh;
    width: 30%;
    border-radius: 10px;
    color: rgb(39, 39, 39);
    box-shadow: 0px 3px 5px 0px black;
}
#promociones{
    background-color: #a7e7fc;
    height: 7vh;
    border: unset;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2%;
}
#explo_destinos{
    background-color: #85ff85;
    height: 7vh;
    border: unset;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2%;
}
#promociones:hover{
    background-color: #8ec4d6;
    transition: 0.4s;
}
#explo_destinos:hover, #subir:hover{
    background-color: #54a354;
    transition: 0.4s;
}
#subir{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #76e476;
    border-radius: 10px;
    border: unset;
}
#caja_datos{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    right: 200px;

}

.caja{
    gap: 25%;
    flex-wrap: wrap;
}
.tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 5px 0 gray;
    width: 40ch;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #141414;
    
}
.carrusuel{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    
}
.ofertas_img, .ofertas_imgC{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    background-image: url(/public/imagenes/bariloche.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

h4{
    background-color: #f1f1f1;
    height: 10px;
    font-size: small;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: goldenrod;
    padding: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.descrip_producto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 6px;
    
    border-radius: 0 0 20px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
}
.precios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 10px;
}
#agregar_carrito{
    border-radius: 10px;
    background-color: #8ec4d6;
    border: unset;
    font-size: large;
    padding: 7px;
    color: #141414;
}
#agregar_carrito:hover{
    background-color: #76a3b3;
    transition: 0.4s;
    animation: compra;
    animation: compra 2s infinite;
}
@keyframes compra {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
        box-shadow: 0 0 10px 0 #6db9d4;
    }
    100%{
        transform: scale(1);
    }
}
.img_carru:hover{
    transform: scale(1.01);
    transition: 0.4s;
}
